.card-holder {
  width: 350px;
  max-width: 450px;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 16px;
  margin: 10px 0;
  background: white;
}
.card-holder:hover {
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
}
.product-gallery {
  flex: 65%;
  gap: 40px;
  display: flex;
  height: 100%;
}

.product-images div {
  width: 120px;
  height: auto;

  margin-bottom: 10px;
}
.card-holder:hover .icon-cart-holder {
  display: block;
}
.main-image {
  width: 100%;
  display: grid;
  justify-content: center;
}
.image-wrapper img {
  width: 100%;
  height: 100%;
}
.card-image {
  border: none;
  display: grid;
  place-items: center;
  overflow: hidden;
}
.icon-cart-holder {
  position: relative;
  cursor: pointer;
  display: none;
}

.icon-cart {
  width: 52px;
  position: absolute;
  height: 52px;
  background: #5ece7b;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 30px;
  top: -20px;
  z-index: 9999;
}
.icon-cart img {
  height: 22px;
}
