.inStock {
  background-color: rgba(255, 255, 255, 0.8);
  display: grid;
  place-items: center;
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
  color: #8d8f9a;
  font-size: 24px;
}
.lazy-loading-holder {
  position: relative;
}
.image-wrapper-m {
  width: 380px;
  height: 440px;
  z-index: 9999999;
}
.image-wrapper img {
  width: 100%;
  height: 550px;
  object-fit: contain;
}

.image-wrapper-m img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.image-wrapper-s img {
  width: 100%;
  min-height: 140px;
  object-fit: contain;
}
